azure
boto3
botocore
Flask
flask-socketio
flask-cors
google-api-core
google-auth
google-cloud-core
google-cloud-speech
google-cloud-storage
google-cloud-language
ibm-watson
matplotlib
numpy
oauthlib
pandas
plac
PyAudio
pydub
python-dateutil
python-dotenv
requests
scipy
seaborn
spacy
