azure
boto3
botocore
Flask
flask-socketio
google-api-core
google-auth
google-cloud-core
google-cloud-speech
google-cloud-storage
ibm-watson
matplotlib
numpy
oauthlib
pandas
plac
PyAudio
pydub
python-dateutil
python-dotenv
requests
scipy
seaborn
spacy
